@(page: String, isLoggedIn: Boolean, userInfo: DigitsUser, contacts: List[Contact])

@Main(page, isLoggedIn, userInfo) {
  <div class="container">
    <h1>Current Contacts</h1>
  </div>
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Digits</th>
          <th>Type</th>
          <th>Diet</th>
        </tr>
      </thead>
      <tbody>
        @for(contacts <- contacts) {
          <tr>
            <td>@contacts.getFirstName</td>
            <td>@contacts.getLastName</td>
            <td>@contacts.getTelephone</td>
            <td>@contacts.getTelephoneType().getTelephoneType()</td>
            <td>@contacts.getDietTypesString</td>
            @if(isLoggedIn) {
              <td>
                <a href="@routes.Application.newContact(contacts.getId)" class="btn btn-warning btn-xs" role="button">
                  Edit
                </a>
              </td>
              <td>
                <a href="@routes.Application.deleteContact(contacts.getId)" class="btn btn-danger btn-xs" role="button">
                  Delete
                </a>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
}