@(contactForm: Form[views.formdata.ContactFormData], telephoneTypeMap: Map[String, Boolean])

@import views.html.bootstrap3._
@import helper._

@Main("NewContact") {
  <div class="container">
    @form(routes.Application.postContact(), 'class -> "form-horizontal") {
      <input type="hidden"
      name="@contactForm("id").name"
      id="@contactForm("id").id"
      value="@contactForm("id").value"/>
    <!--<form class="form-horizontal">-->
      <!-- First Name -->
      @text(contactForm("firstName"),
        label = "First",
        placeholder = "First Name",
        help = "")

      <!-- Last Name -->
      @text(contactForm("lastName"),
        label = "Last",
        placeholder = "Last Name",
        help = "")

      <!-- Telephone and Telephone Type -->

      @bootstrap3.telephone(contactForm("telephone"),
        labelTelLabel="Telephone",
        placeholderTelNum = "xxx-xx-xxxx",
        helpTelNum = "",
        contactForm("telephoneType"),
        optionMapTelType = telephoneTypeMap,
        isMultipleTelType = false,
        helpTelType = "")


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="submit" type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    <!--</form>-->
    }
  </div>
}